.list_container{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  overflow-y: auto;
}

.container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: 50px;
}

/* .container_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
} */

.container_validation-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.container_input_text {
  padding-bottom: 30px;
}

.container_button_validation {
  padding-bottom: 10px;
}

/* .container_basic_card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 100px; 
  width: 100%;
  margin-top: 20px;
} */

.container_text_title{
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 30px;
  color: rgb(83, 90, 84);
}


@media screen and (max-width: 768px) {
  .container_text_title{
    padding-bottom: 10px;
    font-size: 25px;
    color: rgb(90, 83, 83);
  }

  .container_input_text {
    width: 100%;
    padding-bottom: 30px;
  }

  .container_basic_card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px; 
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .container_basic_card {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}